# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/6110a85f-0ccf-46de-bfd2-532c059be6ba.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/bc2d52ee-4dac-4806-9d32-24fdde5d73ab.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/a6a259fd-d5e1-41ac-a8e3-5e797424fc8d.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/76c07b6d-4c5d-465f-bb2d-65e9f10383f3.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/f8a3e4e6-0f2c-4cd4-af2a-0b192fa21f50.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/5d4a5597-cd9f-44be-93c9-cb7397fd6fb4.vsidx
